<footer class="max-w-[1140px] mx-auto mt-16 pt-5 pb-5 border-t flex justify-between max-[1024px]:flex-col max-[1024px]:items-center">
    <div class="copyright text-xs opacity-40">
        Copyright © 2045 Your Website Name
    </div>
    <div class="design">
        <span class="text-xs opacity-40">Design & Code by</span> <a class="text-[#00ab6b] text-xs" href="https://www.free-css.com/free-css-templates/page271/mediumish" target="_blank">WowThemes</a>
    </div>
</footer>